<div class="row centered" style="margin-top: 30px;">
  <div class="col-sm-8 col-xs-12 text-center">

    <form #form="ngForm" (ngSubmit)="submitSearch(form.value)">
      <div class="input-group">

        <span class="input-group-addon" id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
        <input type="text" class="form-control" name="searchBox" ngModel placeholder="Search article..." aria-describedby="search text"
          required>

      </div>
    </form>
  </div>
</div>

<div class="card-columns" style="margin-top: 30px">
  <div class="card card-inverse {{getRandomCardColor(item.Color)}}" *ngFor="let item of cardArray">

    <div style="display: flex; justify-content: center">
      <img class="card-img-top" src="{{item.Image}}" alt="Card image cap" *ngIf="item.Image">
    </div>
    <div class="card-block">
      <h4 class="card-title">{{item.Title}}</h4>
      <p class="card-text">{{item.Description}}</p>
      <a href="{{item.Link}}" class="btn btn-primary" target="_blank">Open</a>
    </div>

  </div>
</div>