<div class="row centered" style="margin-top: 30px;">
  <div class="col-sm-8 col-xs-12 text-center">

    <form #form="ngForm" (ngSubmit)="submitSearch(form.value)">
      <div class="input-group">

        <span class="input-group-addon" id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
        <input type="text" class="form-control" name="searchBox" ngModel placeholder="Search article..." aria-describedby="search text"
          required>

      </div>
    </form>
  </div>
</div>

<!--<div id="card-container" class="row">
  <div class="card col-xs-6 col-sm-4 col-md-3" *ngFor="let item of cardArray">
    <img class="card-img-top" src="{{item.Image}}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{item.Title}}</h4>
      <p class="card-text">{{item.Description}}</p>
      <a href="{{item.Link}}" class="btn btn-primary" target="_blank">Open</a>
    </div>
  </div>
</div>-->
<!--class="card col-xs-6 col-sm-4 col-md-3"-->
<div style="">

  <md-card class="card col-xs-6 col-sm-4 col-md-3" style="height: 50%" *ngFor="let item of cardArray">
    <md-card-title>{{item.Title}}</md-card-title>

    <img md-card-sm-image src="{{item.Image}}">

    <md-card-content>
      {{item.Description}}
    </md-card-content>

    <md-card-actions>
      <a href="{{item.Link}}" class="btn btn-primary" target="_blank">Open</a>
    </md-card-actions>
  </md-card>

</div>